* {
    box-sizing: border-box;
}

body {
    margin: 16px;
}

.centered {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

p, p.error {
    margin-top: 4px;
    margin-bottom: 4px;
}

p.error {
    color: red;
    display: none;
}