* {
    box-sizing: border-box;
    font-family: var(--font);
}

:root {
    --primary-darkest: #353b49;
    --primary-dark: #5f6c87;
    --primary: #aabadd;
    --primary-light: #d5def2;
    --dark-gray: #2b2a2a;
    --gray: #666;
    --light-gray: #eee;
    --accent-light: #77dae5;
    --accent-dark: #00e5ff;
    --error: red;
    --faded-black: rgba(0, 0, 0, 0.25);
    --not-available: #dee5ef;
    --background-start: white;
    --background-end: #e3e5ea;
    --font-dark: black;
    --font-light: white;
    --font: "Comic Sans MS", cursive, sans-serif;
    --fields-radius: 5px;
    --buttons-radius: 5px;
    --padding-little: 1px;
    --padding-largest: 32px;
    --padding-large: 24px;
    --padding-medium: 16px;
    --padding-small: 8px;
    --padding-smaller: 4px;
    --padding-calendar-title: 8vh 0;
    --input-background: #f1f1f1;
    --input-border: black;
    --font-large: 2em;
    --font-medium-large: 1.5em;
    --font-button: 1.25em;
    --font-medium: 1em;
    --font-small: 0.8em;
    --time-options-max-height: 50vh;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
}

body.gradient {   
    background-image: linear-gradient(to right, var(--background-start), var(--background-end));
}

body.with-margin {
    margin: var(--padding-medium);
}

.background, .background-animated {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("clouds.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    position: absolute;
    opacity: 0.8;
}

.background-animated {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-name: fadeInFaded;
}

h1 {
    font-size: var(--font-large);
    font-style: italic;
}

p {
    font-size: var(--font-medium);
}

.centered-h {
    text-align: center;
}

div.centered-h {
    padding: var(--padding-small) var(--padding-small) 0 var(--padding-small);
}

.centered, .centered-with-padding {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.centered-with-padding, .with-padding {
    padding: var(--padding-medium);
}

p, p.error {
    margin-top: var(--padding-smaller);
    margin-bottom: var(--padding-smaller);
}

p.error, p.error-hidden {
    color: var(--error);
}

p.error-hidden {
    display: none;
}

.tab {
    overflow: hidden;
    top: 0;
    background-color: var(--primary-light);
    position: sticky;
    z-index: 1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: var(--padding-medium) var(--padding-smaller);
    margin: 0;
    transition: 0.5s;
    font-size: var(--font-large);
    width: 25%;
    outline: none;
    border: none;
    border-radius: 0;
}

.tab button:hover {
    color: var(--font-light);
    background-color: var(--primary-dark);
    border: none;
    outline: none;
}

@media screen and (max-width: 500px) {

    .tab button {
        font-size: var(--font-medium-large);
    };
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

input:not([type="input"]), textarea {
    padding: var(--padding-small);
    outline: none;
    border-radius: var(--fields-radius);
    background-color: var(--primary-light);
    border: var(--padding-little) solid var(--primary-dark);
}

.input-description {
    height: 5em;
    width: 50%;
    overflow: hidden;
    resize: none;
}

input:hover, input:focus, textarea:hover {
    background-color: var(--input-background);
    border: var(--padding-little) solid var(--input-border);
    box-shadow: var(--padding-little) var(--padding-little) var(--faded-black);
}

.tab button:active, button.active {
    background-color: var(--primary);
}

button, input[type=submit] {
    outline: none;
    color: var(--font-light);
    background-color: var(--primary-dark);
    padding: var(--padding-small) var(--padding-largest);
    margin: var(--padding-small) 0;
    border: var(--padding-little) solid var(--primary);
    border-radius: var(--buttons-radius);
    font-size: var(--font-button);
}

button:hover, button:focus, input[type=submit]:hover, input[type=submit]:focus {
    color: var(--font-dark);
    background-color: var(--primary-light);
    border: var(--padding-little) solid var(--primary-dark);
}

ul {
    list-style-type: none;
}

.calendar {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    text-align: center;
    align-items: center;
}

.month {
    background-color: var(--primary); 
    color: var(--font-light);
    font-size: var(--font-large);
    grid-column: 2 / 7;
    padding: var(--padding-calendar-title);
}

.month-pointer {
    cursor: pointer;
    color: var(--font-light);
    background-color: var(--primary);
    align-self: stretch;
    font-size: var(--font-large);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.weekday {
    margin: 0;
    padding: var(--padding-small) 0;
    background-color: var(--primary-light);
    color: var(--font-dark);
    font-size: var(--font-medium-);
}

.day {
    padding: var(--padding-small) 0;
    margin: 0;
    cursor: pointer;
    font-size: var(--font-medium);
}

.day span.current {
    color: var(--accent-dark);
    text-decoration: underline;
}

.day span.available {
    color: var(--gray);
}

.day span.not-available {
    color: var(--not-available);
    cursor: none;
}

.day span.planned {
    color: var(--accent-light);
    text-decoration: underline;
}

ul.activities {
    list-style-type: none;
    cursor: default;
    padding: 0;
    margin: 0;
}

ul.activities li {
    border: var(--padding-little) solid var(--primary-light);
    background-color: var(--light-gray);
    padding: var(--padding-small);
    text-decoration: none;
    font-size: var(--font-medium-large);
    color: var(--font-dark);
    display: block;
    position: relative;
}

ul.activities li:hover {
    background-color: var(--primary-light);
}

.close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: var(--font-medium-large);
    padding: var(--padding-medium);
    text-align: center;
}

.close:hover {
  color: white;
}

@keyframes fadeInFaded {
    from {opacity: 0.1;}
    to {opacity: 0.8;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.confirmation, .confirmation-hidden {
    background-color: var(--primary-darkest);
    color: var(--font-light);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: var(--padding-small);
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.confirmation span, .confirmation-hidden span {
    font-size: var(--font-medium-large);
    margin-right: var(--padding-large);
}

.confirmation-hidden {
    display: none;
}

a {
    color: var(--primary);   
}

a:hover {
    color: var(--accent-dark);
}

.time-frame {
    position: relative;
    display: inline-block;
}

.time-button {
    margin: 0;
}

.time-options {
	width: 100%;
	text-align: center;
	display: none;
	position: absolute;
    background-color: var(--primary);
    color: var(--font-dark);
	cursor: pointer;
	overflow-y: auto;
	max-height: var(--time-options-max-height);
    z-index: 1;
}

.time-options-visible {
    display: block;
}

.time-options div:hover {
    background-color: var(--primary-dark);
    color: var(--font-light);
}