* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: auto;
}

.marginless {
    margin: 0px;
}

body {
    margin: 16px;
}

.centered-h {
    text-align:center;
}

.centered {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

p, p.error {
    margin-top: 4px;
    margin-bottom: 4px;
}

p.error, p.error-visible {
    color: red;
    display: none;
}

p.error-visible {
    display: block
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px;
    transition: 0.5s;
    font-size: 2em;
    width: 25%;
}

input {
    padding: 8px;
    outline: none;
    border: 0.5px solid #2b2a2a;
}

input:hover, input:focus {
    background-color: #f1f1f1;
    border: 1px solid black;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

.tab button:hover {
    background-color: #ddd;
}

.tab button:active, button.active {
    background-color: #ccc;
}

button.main, input[type=submit].main {
    padding: 8px;
    margin: 8px;
}

ul {
    list-style-type: none;
}

.calendar {
    width: 100%;
}

.month {
    padding: 50px 25px;
    width: 100%;
    background: #307cf4;
    text-align: center;
}

ul.calendar, li.calendar {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

li.month-title {
    font-size: 2em;
}

.month .prev {
    float: left;
}

.month .next {
    float: right;
}

.month .prev, .month .next {
    padding-top: 10px;
    cursor: pointer;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    font-size: 1.5em;
    text-align: center;
}

.days {
    padding: 10px 0;
    margin: 0;
    cursor: pointer;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.5em;
    color: #777;
}

.days li span.current {
    padding: 5px;
    color: #307cf4;
    text-decoration: underline;
}

.days li span.available {
    color: #666;
}

.days li span.not-available {
    color: #dee5ef;
    cursor: none;
}

.days li span.planned {
    padding: 5px;
    color: red;
    text-decoration: underline;
}

ul.activities {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.activities li {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    display: block;
    position: relative;
}

ul.activities li:hover {
    background-color: #eee;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 16px 16px;
    text-align: center;
    transform: translate(0%, -50%);
}

.close:hover {
    background: #bbb;
}

