<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body class="marginless">
    <!--TODO which tab should be active?-->
    <div class="tab">
        <button>Today</button>
        <button class="active">Plan</button>
        <button>History</button>
        <button>Profile</button>
    </div>
    <div class="centered-h">
        <form>
            <p>Name</p>
            <p th:text="${invalidName}? #{invalidName}" class="error-visible"></p>
            <input type="text" name="name" th:value="${name}"></input>
            <p>Start</p>
            <p th:text="${invalidStartTime}? #{invalidTime}" class="error-visible"></p>
            <input type="time" name="start" th:value="${start}"></input>
            <p>End</p>
            <p th:text="${invalidEndTime}? #{invalidTime}" class="error-visible"></p>
            <input type="time" name="end" th:value="${end}"></input>
            <p>Description</p>
            <textarea name="description" th:text="${description}"></textarea>
            </br>
            <!--TODO is it needed-->
            <input type="hidden" name="done" value="false"></input>
            <input id="save" type="submit" value="Save"></input>
        </form>
        <button id="recent">Recent</button>
    </div>
</body>
<script src="/activity.js" type="module"></script>

</html>