<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body class="marginless">
    <div th:replace="fragments.html :: tab"></div>
    <div class="centered-h">
        <form>
            <p th:text="#{name}"></p>
            <p th:text="#{invalidName}" th:class="${invalidName}? error : error-hidden"></p>
            <input type="text" name="name" th:value="${name}"></input>
            <p th:text="#{startTime}"></p>
            <p th:text="${invalidStartTime}? #{invalidTime}" class="error"></p>
            <input type="time" name="start" th:value="${start}"></input>
            <p th:text="#{endTime}"></p>
            <p th:text="${invalidEndTime}? #{invalidTime}" class="error"></p>
            <input type="time" name="end" th:value="${end}"></input>
            <p th:text="#{description}"></p>
            <textarea name="description" th:text="${description}" th:placeholder="#{descriptionPlaceholder}"></textarea>
            <div></div>
            <input type="hidden" name="done" th:value="!${plan}"></input>
            <input id="save" type="submit" value="Save"></input>
        </form>
        <button id="recent" th:text="#{fromTemplate}"></button>
    </div>
</body>
<script src="/activity.js" type="module"></script>

</html>