<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="#{dayPlanTitle}"></title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body class="marginless">
    <div class="tab">
        <button>Today</button>
        <button class="active">Plan</button>
        <button>History</button>
        <button>Profile</button>
    </div>
    <div class="centered-h" style="padding: 8px 16px">
        <h1 th:text=${date}></h1>
        <p th:class="!${activities.isEmpty()} ? hidden" th:text="#{emptyPlanMessage}"></p>
        <ul class="activities">
            <li th:each="a : ${activities}" th:data-id="${a.id}">
                <div th:utext="|${a.start} - ${a.end}|"></div>
                <div th:text="${a.name}"></div>
                <span class="close">&times;</span>
            </li>
        </ul>
        <button id="add" th:text="#{addActivity}"></button>
    </div>
</body>
<script src="/day-plan.js" type="module"></script>

</html>