<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta formName="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{errorTitle}"></title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<!--TODO style it-->
<body>
    <h1 th:text="#{errorTitle}"></h1>
    <p th:text="${error}"></p>
    <button id="back" th:text="#{back}"></button>
</body>
<script>
document.getElementById("back").onclick = () => history.back();
</script>
</html>