<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<title th:text="#{appName}"></title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8"/>
    <meta name="keywords" content="time management, self-control, discipline, responsibility, self-awareness, self-mastery"/>
    <meta name="description" content="Website that helps you to take control of your time and thus of your destiny"/>
    <meta name="author" content="Igor Roztropiński"/>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <style>
        button {
            width: 20%;
        }

        @media screen and (max-width: 900px) {

            button {
                width: 33.3%;
            }
        }

        @media screen and (max-width: 600px) {

            button {
                width: 50%;
            }
        }
    </style>
</head>

<body>
    <div class="background-animated"></div>
    <div class="centered-with-padding">
        <h1 th:text="#{invitation}"></h1>
        <button id="continue" th:text="#{continue}"></button>
        <div></div>
        <button id="start" th:text="#{start}"></button>
    </div>
</body>
<script src="start.js" type="module">
</script>

</html>