<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<title th:text="#{appName}"></title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <style>
        button {
            width: 25%;
        }
    </style>
</head>

<body>
    <div class="centered">
        <h1 th:text="#{invitation}"></h1>
        <button id="continue" th:text="#{continue}"></button>
        <button id="start" th:text="#{start}"></button>
    </div>
</body>
<script src="start.js" type="module">
</script>

</html>