<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title th:text="#{passwordReset}"></title>
    <link rel="stylesheet" text="text/css" href="style.css" />
</head>

<body class="clouded">
    <form>
        <p th:text="${linkSent} ? #{passwordResetLinkSent} : #{passwordResetEmail}"></p>
        <p id="invalidEmail" th:class="${invalidEmail} ? error : error-hidden" th:text="#{invalidEmail}">
        </p>
        <p id="unknownEmail" th:class="${unknownEmail} ? error : error-hidden" th:text="#{unknownEmail}">
        </p>
        <p id="inactiveAccount" th:class="${inactiveAccount} ? error: error-hidden" th:text="#{inactiveAccount}">
        </p>
        <input type="email" name="email" th:value="${email}"></input>
        <div></div>
        <input id="send" type="submit" th:value="#{send}" th:disabled="${linkSent}"></input>
    </form>
</body>
<script src="password-reset.js" type="module"></script>

</html>