<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{passwordReset}"></title>
    <link rel="stylesheet" text="text/css" href="style.css" />
    <!--TODO is this a good idea?-->
    <style>
        input {
            margin-bottom: 4px;
        }
    </style>
</head>

<body>
    <form th:action="${passwordResetUrl}" method="POST">
        <p th:text="#{newPassword}"></p>
        <p id="invalidPassword" th:class="${invalidPassword} ? error : error-hidden" th:text="#{invalidPassword}">
        </p>
        <input type="text" name="password"></input>
        </br>
        <input id="change" type="submit" th:value="#{change}"></input>
    </form>
</body>
<script src="password-reset-form.js" type="module"></script>

</html>