<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body class="marginless">
    <!--TODO which tab should be active?-->
    <div class="tab">
        <button>Today</button>
        <button class="active">Plan</button>
        <button>History</button>
        <button>Profile</button>
    </div>
    
</body>
<script src="/recent-activities.js" type="module"></script>

</html>