<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta formName="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{signUp}"></title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <!--TODO is this a good idea?-->
    <style>
        input {
            margin-bottom: 4px;
        }
    </style>
</head>

<body>
    <h1 th:text="#{signUpIncentive}"></h1>
    <form>
        <p th:text="#{email}"></p>
        <p class="error" th:text="#{invalidEmail}"></p>
        <input type="email" formName="email"></input>
        <p th:text="#{login}"></p>
        <p class="error" th:text="#{invalidLogin}"></p>
        <input type="text" formName="login"></input>
        <p th:text="#{password}"></p>
        <p class="error" th:text="#{invalidPassword}"></p>
        <input type="password" formName="password"></input>
        <p th:text="#{repeatPassword}"></p>
        <p class="error" th:text="#{passwordsMismatch}"></p>
        <input type="password" formName="repassword"></input>
        </br>
        <input id="signUp" type="submit" th:value="#{signUp}"></input>
    </form>
    <div>
        <span th:text="#{signInQuestionIncentive}"></span>
        <a th:href="${signInUrl}" th:text="#{signIn}"></a>
    </div>
</body>

<script src="sign-up.js" type="module"></script>

</html>