<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <!--TODO is this a good idea?-->
    <style>
        input {
            margin-bottom: 4px;
        }
    </style>
</head>

<body>
    <h1>Sign up to get started</h1>
    <form>
        <p>Email</p>
        <p class="error" th:text="#{invalidEmail}"></p>
        <input type="email" name="email"></input>
        <p>Login</p>
        <p class="error" th:text="#{invalidLogin}"></p>
        <input type="text" name="login"></input>
        <p>Password</p>
        <p class="error" th:text="#{invalidPassword}"></p>
        <input type="password" name="password"></input>
        <p>Password, once again</p>
        <p class="error" th:text="#{passwordsMismatch}"></p>
        <input type="password" name="repassword"></input>
        </br>
        <input id="signUp" type="submit" value="Sign up"></input>
    </form>
</body>

<script src="sign-up.js" type="module"></script>

</html>