<div class="tab" th:fragment="tab" xmlns:th="http://www.w3.org/1999/xhtml">
    <button th:class="${activeTab.name() == 'TODAY'}? active" th:text="#{todayTab}"></button>
    <button th:class="${activeTab.name() == 'PLAN'}? active" th:text="#{planTab}"></button>
    <button th:class="${activeTab.name() == 'HISTORY'}? active" th:text="#{historyTab}"></button>
    <button th:class="${activeTab.name() == 'PROFILE'}? active" th:text="#{profileTab}"></button>
</div>
<div id="confirmation" class="confirmation-hidden" th:fragment="confirmation" xmlns:th="http://www.w3.org/1999/xhtml">
    <span th:text="#{confirmation}"></span>
    <button id="yes" th:text="#{yes}"></button>
    <button id="no" th:text="#{no}"></button>
</div>