<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title th:text="#{passwordReset}"></title>
    <link rel="stylesheet" text="text/css" href="style.css" />
</head>

<body>
    <div class="background"></div>
    <form class="with-padding" th:action="${passwordResetUrl}" method="POST">
        <p th:text="#{newPassword}"></p>
        <p id="invalidPassword" th:class="${invalidPassword} ? error : error-hidden" th:text="#{invalidPassword}">
        </p>
        <input type="password" name="password"></input>
        <div></div>
        <input id="save" type="submit" th:value="#{save}"></input>
    </form>
</body>
<script src="password-reset-form.js" type="module"></script>

</html>